@tailwind base;
@tailwind components;
@tailwind utilities;


/* font */
@font-face {
    font-family: 'SFPROREGULAR';
    src: url(../../public/fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: 'SFPROMEDIUM';
    src: url(../../public/fonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: 'SFPROBOLD';
    src: url(../../public/fonts/SFPRODISPLAYBOLD.OTF);
}

/* Calendar */
/* Overall Calendar Container */
.react-calendar {
    border: none !important;
    font-family: 'SFPROREGULAR' !important;
    border-radius: 26px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
}